$darkestBlue : #12232E;
$darkBlue: #203647;
$lighterBlue: #007CC7;
$lightestBlue: #4DA8DA;
$white : #EEFBFB;

.container{
    
    z-index: -1;

    .search_bar{

        margin-bottom: 20px;
        margin-top:20px;
        z-index: 0;
    }

    .genre-row{

        margin-bottom: 20px;
        p{
            cursor: pointer;
        }
        p:hover{
            background-color: $lighterBlue;
        }
    }
}
